@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-oxanium: "Oxanium", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-oxanium);
  line-height: 1.6;
  background-color: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  color: #0070f3;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem /* 24px */;
  padding-left: 1.5rem /* 24px */;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 998px) {
  .container {
    max-width: 998px;
  }
}
@media (min-width: 1110px) {
  .container {
    max-width: 1110px;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}
@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}
